/* Estrutura de responsividade */

/* Estilos gerais (Mobile First) */

/* Telas pequenas (smartphones em retrato) */
@media (max-width: 576px) {

  /* Adicione aqui os estilos específicos para telas pequenas */
  body {
    overflow-x: hidden;
  }

  header {
    padding: 1rem;
    height: 14rem;
    width: 100vw;
  }

  header .container {
    width: 100%;
    justify-content: space-evenly;
  }

  .logo {
    display: none;
  }

  .banner {
    display: none;
  }

  .banner-responsive {
    display: flex;
    background-size: cover;
    background-position: top;
    image-rendering: pixelated;
    width: 200px;
    height: 200px;
    border-radius: 50rem;
    margin-top: 6rem;
  }

  header .container h2 {
    font-size: 5rem;
    text-align: center;
    white-space: nowrap;

  }

  .bottons {
    display: flex;
    flex-direction: column;
    text-align: center;

  }

  .botoes-laterais {
    display: flex;
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    opacity: .8;
    width: 100%;
    flex-direction: column;
    position: absolute;
  }

  .row1 {
    display: flex;
  }

  .row2 {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

  }

  .redes-sociais {
    display: none;
  }

  .redes-sociais-responsive {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .redes-sociais-responsive i {
    font-size: 2rem;
  }

  nav {
    display: none;
  }

  #btn-categorias {
    display: flex;
  }

  #categorias {
    font-size: 1.5rem;
    /* display: flex; */
    flex-direction: row;
  }


  #categorias li {
    padding: .6rem 0;
    margin-top: 1rem;
  }

  #categorias a:active {
    color: #e0258b;
  }

  #moda-infantil,
  #moda-calcinha,
  #moda-sutia,
  #moda-cueca,
  #moda-diamante {
    margin-top: 30rem;
  }

  section .produtos {
    grid-template-columns: 2fr;
  }

  .seccao_especifica {
    height: 100%;
    padding: 0;
  }

  .detalhes-produto {
    flex-direction: column;
    height: 100%;
    margin-top: 5rem;
  }

  .detalhes {
    flex-direction: column;
  }

  .galeria img {
    margin-left: 1rem;
  }

  .principal {
    min-height: 150px;
    min-height: 150px;
  }

  .fechar-detalhes {
    top: 60px;
  }

  .titulo-detalhe {
    width: 50rem;
    display: flex;
    justify-content: space-around;
    align-items: start;
  }

  .informacoes p {
    font-size: 1.5rem;
  }

  #sessao-carrinho {
    flex-direction: column-reverse;
    margin-top: 2rem;
  }
  #resumo-compra {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -2rem;
    width: 30rem;
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    gap: 2rem;
}
  .controle-quantidade {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
  }
  .btn-menos,
  .btn-mais {
    margin: 0px 5px;
    padding: 10px 20px;
    background: #e0258b;
    color: #fff;
    border: none;
    font-size: 2rem;
    border-radius: 5px;
  }

  #sessao-frete {
    display: none;
    border: 4px solid #e0258b;
    position: absolute;
    top: 25rem;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    gap: 1rem;
    margin-top: -15rem;  
    width: 80%;
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.campo-endereco {
    width: 20rem;
    margin-left: -2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
#sessao-frete input {
    width: 15rem;
    padding: 0.5rem;
    font-size: 1.4rem;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
}


/* Telas médias (tablets em retrato) */
@media (min-width: 577px) and (max-width: 768px) {
  /* Adicione aqui os estilos específicos para telas médias */
}

/* Telas grandes (tablets em paisagem e desktops pequenos) */
@media (min-width: 769px) and (max-width: 992px) {
  /* Adicione aqui os estilos específicos para telas grandes */
}

/* Telas extra grandes (desktops grandes) */
@media (min-width: 993px) {
  /* Adicione aqui os estilos específicos para telas extra grandes */
}