/* Responsividade - 4 colunas para telas grandes */
@media (max-width: 1024px) {
    .produtos {
        grid-template-columns: repeat(3, 1fr); /* 3 colunas para telas menores */
    }
}

/* Responsividade - 3 colunas para telas menores */
@media (max-width: 768px) {
    .produtos {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas para telas ainda menores */
    }
}

/* Responsividade - 1 coluna para telas muito pequenas */
@media (max-width: 480px) {
    .produtos {
        grid-template-columns: 1fr; /* 1 coluna para telas muito pequenas */
    }
}