/* Estrutura de responsividade */

/* Estilos gerais (Mobile First) */

/* Telas pequenas (smartphones em retrato) */
@media (max-width: 576px) {

  /* Adicione aqui os estilos específicos para telas pequenas */
  body {
    overflow-x: hidden;
  }

  header {
    padding: 1rem;
    height: 14rem;
    width: 100vw;
  }

  header .container {
    width: 100%;
    justify-content: space-evenly;
  }

  .logo {
    display: none;
  }

  .banner.tela-inicial {
    background-image: url('../src/banner-responsive.jpg');
    background-size: cover;
    background-position: top;
    image-rendering: pixelated;
    width: 400px;
    border-radius: 50rem;
    margin-top: 10rem;
  }

  header .container h2 {
    font-size: 5rem;
    text-align: center;
    white-space: nowrap;

  }

  .botoes-laterais {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
  }

  .redes-sociais {
    position: absolute;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    font-size: .9rem;
  }

  nav {
    display: none;
  }

  #btn-categorias {
    display: flex;
  }

  #categorias {
    flex-direction: column;
    font-size: 1.5rem;
  }

  #categorias li {
    padding: .6rem 0;
    margin-top: 1rem;
  }

  #categorias a:active {
    color: #e0258b;
  }

  #moda-infantil,
  #moda-calcinha,
  #moda-sutia,
  #moda-cueca,
  #moda-diamante {
    margin-top: 30rem;
  }

  section .produtos {
    grid-template-columns: 2fr;
  }
  .seccao_especifica {
    height: 100%;
    padding: 0;
  }
  .detalhes-produto {
    flex-direction: column;
    height: 100%;
    margin-top: 5rem;
  }
  .detalhes {
    flex-direction: column;
  }
  .galeria img {
    margin-left: 1rem;
  }
  .principal{
    min-height: 150px;
    min-height: 150px;
  }
  .fechar-detalhes {
    top: 60px;
  }
  .titulo-detalhe {
    width: 50rem;
    display: flex;
    justify-content: space-around;
    align-items: start;
  }
  .informacoes p {
    font-size: 1.5rem;
  }
    
}


/* Telas médias (tablets em retrato) */
@media (min-width: 577px) and (max-width: 768px) {
  /* Adicione aqui os estilos específicos para telas médias */
}

/* Telas grandes (tablets em paisagem e desktops pequenos) */
@media (min-width: 769px) and (max-width: 992px) {
  /* Adicione aqui os estilos específicos para telas grandes */
}

/* Telas extra grandes (desktops grandes) */
@media (min-width: 993px) {
  /* Adicione aqui os estilos específicos para telas extra grandes */
}