:root {
    font-size: 62.5%;
}
body {
    position: relative;
    background-color: #ffffff;
    font-family: 'montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Funnel Display', sans-serif;
}

header {
    width: 100%;
    height: 15rem;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container {
    display: flex;
    padding: 0 5rem;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 100%;
}
header .container img {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    padding: 5rem;
}
header .container h2 {
    color: #e0258b;
    font-size: 6rem;
    font-weight: 600;
    font-family: "Imperial Script";
}

nav {
    width: 100%;
    height: 10rem;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .menu {
    display: flex;
    padding: 0 5rem;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 100%;
}
nav .menu a{
    font-size: 18px;
    color: #111111;
    padding: 20px;
}
nav .menu a:hover {
    color: #e0258b;
    text-decoration: underline;
    text-underline-offset: 5px;
    transition: 0.3s;

}

.botoes-laterais {
    position: fixed;
    overflow: hidden;
    top: 7rem;
    right: 10px;
    z-index: 1000;
    display: flex;
    gap: .9rem;  
}
.botoes-laterais button {
font-family: 'montserrat', sans-serif;
text-decoration: none;
color: #575456;
font-size: 1.6rem;
font-weight: 600;
padding: 1rem 2rem;
border-radius: 5rem;
letter-spacing: 2px;
}

.botoes-laterais button:hover {
transform: scale(1.05);
}

.redes-sociais {
    position: fixed;
    top: 7rem;
    left: 10px;
    z-index: 1000;
    display: flex;
    gap: 1rem;  
    overflow: hidden;
}

.redes-sociais a {
    font-family: 'montserrat', sans-serif;
    text-decoration: none;
    color: #575456;
    font-size: 1.7rem;
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: 5rem;
    letter-spacing: 2px;
    padding: 20px;
}
.redes-sociais a:hover {
    transform: scale(1.05);
}

.banner {
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 350px;
}   

.banner image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#moda-infantil {
    margin-top: 4rem;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#moda-infantil .container .produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
}
#moda-infantil .container h2 {
    font-size: 8rem;
    text-align: center;
    color: #575456;
    font-weight: 600;
    font-family: "Imperial Script";
    margin-bottom: 2rem;
}
#moda-infantil .container span {
    color: #e0258b;
    position: relative;
}

#moda-infantil .container .produtos .produto img{
    margin-top: 5rem;
    position: relative;
    padding: 1rem;
    min-width: 20rem;
    max-width: 25rem;
    min-height: 30rem;
    max-height: 25rem;
}       

.container .produtos .produto h3{
    font-size: 2.5rem;
    color: #575456;
    font-weight: 600;
    text-align: center;
    margin-top: 1rem;
}
.container .produtos .produto p{
    font-size: 2rem;
    color: #f8f8f8;
    background-color: #e0258b;
    padding: 1rem 1.5rem;
    border-radius: 5rem;
    font-weight: 600;
    text-align: center;
    margin-top: 1rem;
    cursor: pointer;
}
.container .produtos .produto p:hover {
    background-color: rgba(224, 37, 139, .8);
    color: #f8f8f8;
    transition: 0.3s;
}