:root {
    font-size: 62.5%;
    /* Ajusta a base de 1rem = 10px */
}

body {
    position: relative;
    background-color: #f8f8f8;
    font-family: 'montserrat', sans-serif;
    font-family: 'Funnel Display', sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    height: 15rem;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

header .container {
    display: flex;
    padding: 0 5rem;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 100%;
}

header .container img {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    padding: 5rem;
}

header .container h2 {
    color: #e0258b;
    font-size: 6rem;
    font-weight: 600;
    font-family: "Imperial Script";
}
#btn-categorias {
    display: none;
}
#categorias {
    display: none;
}
.row2 {
    display: none;
}
nav {
    width: 100%;
    height: 10rem;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .menu {
    display: flex;
    padding: 0 5rem;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 100%;
}

nav .menu a {
    font-size: 18px;
    color: #111111;
    padding: 20px;
}

nav .menu a:hover {
    color: #e0258b;
    text-decoration: underline;
    text-underline-offset: 5px;
    transition: 0.3s;
}

.botoes-laterais {
    position: fixed;
    overflow: hidden;
    top: 7rem;
    right: 10px;
    z-index: 500;
    display: flex;
    gap: .9rem;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.botoes-laterais button,
a {
    text-decoration: none;
    color: #575456;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: 5rem;
    letter-spacing: 2px;
}
.login span{
   text-decoration: none;
    color: #575456;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: 5rem;
    letter-spacing: 2px;
}

.botoes-laterais button:hover {
    transform: scale(1.05);
}

.redes-sociais {
    position: fixed;
    top: 7rem;
    left: 10px;
    z-index: 500;
    display: flex;
    gap: 1rem;
    overflow: hidden;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.redes-sociais a {
    font-family: 'montserrat', sans-serif;
    text-decoration: none;
    color: #575456;
    font-size: 1.7rem;
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: 5rem;
    letter-spacing: 2px;
    padding: 20px;
}

.redes-sociais a:hover {
    transform: scale(1.5);
}

#insta:hover {
    background-color: rgba(224, 37, 139, 0.6);
}

#tik:hover {
    background-color: #00f1eb;
}

#whats:hover {
    background-color: #25d366;
}
.banner-tela-inicial {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner-responsive {
    display: none;
      width: 200px;
    height: 200px;
    border-radius: 50rem;
    margin-top: 6rem;
}
.bottons {
    display: none;
    min-height: 50px;
}

.redes-sociais-resposive {
    display: none;
}
section {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#moda-infantil,
#moda-calcinha,
#moda-sutia,
#moda-cueca,
#moda-diamante {
    margin-top: 20rem;
}

section .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section .produtos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.oculto {
    display: none;
}

/* Classe para mostrar a seção como grid */
.visivel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* quatro colunas */
    gap: 1rem;
}

/* Título das seções */
.seccao {
    font-size: 5rem;
    color: #575456;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
    font-family: "Imperial Script";
}

.seccao span {
    color: #e0258b;
}

/* Produto individual */
.produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    height: auto;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    min-height: 38rem;
    max-height: 38rem;
    overflow: hidden;
    max-width: 25rem;
}

.produto:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

/* Imagem do produto */
.imagem {
    margin-top: 2rem;
    position: relative;
    padding: 1rem;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 20rem;
    min-height: 20rem;
    object-fit: cover;
}

/* Nome do produto */
.nome_produto {
    font-size: 1.5rem;
    color: #575456;
    font-weight: 600;
    margin-top: 1rem;
    background-color: #f8f8f8;
    padding: 1rem 2rem;
    height: 5rem;
    border-radius: 5rem;
}

/* Preço do produto */
.preco {
    font-size: 1.5rem;
    color: #f8f8f8;
    font-weight: 600;
    margin-top: 1rem;
    background-color: #e0258b;
    padding: 1rem;
    width: 20rem;
    border-radius: 5rem;
    text-align: center;
    cursor: pointer;
    height: 5rem;
}

.preco:hover {
    opacity: 0.8;
}

/* Descrição do produto (oculta por padrão) */
.descricao {
    display: none;
}

/* Detalhes do produto */
.seccao_especifica {
    display: none;
    padding: 40px 100px;
    box-sizing: border-box;
    position: relative;
}

.detalhes-produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detalhes-produto h3 {
    font-size: 3rem;
    color: #575456;
    font-weight: 600;
    margin-bottom: 3rem;
}

.detalhes {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.alinhar {
    display: flex;
    flex-direction: column;
}
.galeria {
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.galeria img {
    width: 80px;
    margin-top: 2rem;
    max-height: 80px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s ease;
}

.galeria img:hover {
    transform: scale(1.05);
}

.principal {
    width: 300px;
    height: 350px;
    min-width: 300px;
    min-height: 350px;
    margin-right: 20px;
    border-radius: 10px;
}

.informacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.informacoes p {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.adicionar-carrinho {
    background-color: #e0258b;
    color: #fff;
    font-size: 1.5rem;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.titulo-detalhe {
    width: 70rem;
    display: flex;
    justify-content: space-around;
    align-items: start;
}
.fechar-detalhes {
    /* position: absolute; */
    /* top: 40px; */
    /* right: 120px; */
    background-color: transparent;
    font-size: 24px;
    color: #e0258b;
    border: none;
    cursor: pointer;
}

#inicio {
    position: fixed;
    bottom: 0;
    left: 1rem;
    color: #575456;
    font-size: 3rem;
}

#sessao-carrinho {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100vh;
    background: #f5f5f5;
    overflow-y: hidden;
    z-index: 9999;
}
.titulo-endereco {
    color: #333;
}
.info {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: #FF2400;
    text-transform: uppercase;
}



#conteudo-carrinho {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-sizing: border-box;
}

#colunas-carrinho {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
}

#coluna-produtos {
    flex: 1 1 60%;
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-menos,
.btn-mais {
    margin-top: 20px;
    padding: 10px 20px;
    background: #e0258b;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#coluna-info {
    flex: 1 1 35%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#resumo-compra {
    display: flex;
    flex-direction: column;
    margin-top: -2rem;
    width: 30rem;
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    gap: 2rem;
}

#sessao-frete {
    display: none;
    border: 4px solid #e0258b;
    position: absolute;
    top: 25rem;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    gap: 1rem;
    margin-top: -15rem;  
    width: 40%;
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.fechar-frete {
    background-color: #e0258b;
    color: #fff;
    font-size: 1.5rem;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#sessao-frete label {
    margin-bottom: .7rem;
    font-size: 1.5rem;
    color: #575456;
    min-width: 10rem;
    text-align: right;
}
.campo-endereco {
    width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
#sessao-frete input {
    width: 40rem;
    padding: 0.5rem;
    font-size: 1.4rem;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.fecharCarrinho {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    color: #e0258b;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

#lista-carrinho {
    flex: 1;
    overflow-y: auto;
}

.item-carrinho {
    min-height: 10rem;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.item-carrinho img {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 5px;
}

.item-carrinho h3 {
    font-size: 2rem;
    color: #575456;
    font-weight: 600;
}

.item-carrinho p {
    font-size: 1.5rem;
    color: #575456;
    font-weight: 600;
}

.quantidade {
    font-size: 2rem;
    color: #575456;
}

#total-carrinho {
    margin-top: 20px;
    font-size: 1.8rem;
    box-shadow: 0 0 10px rgba(224, 37, 139, 0.5);
}

#resumo-compra h2 {
    font-size: 2rem;
    color: #575456;
    font-weight: 600;
    margin-bottom: 1rem;
}

.linhaProdutos {
    color: #575456;
    font-size: 1.5rem;
}

.linha.total,
.linha.fretes {
    font-size: 1.5rem;
    color: #575456;
}

.carrinhoimg {
    height: 72px;
    width: 72px;
    object-fit: cover;
    border-radius: 5rem;
    position: absolute;
    right: 10px;
}

.alerta-customizado {
    position: fixed;
    top: 4rem;
    left: 50%;
    transform: translateX(50%);
    background-color: rgba(225, 53, 140, .7);
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.4s ease;
    transform: translateY(20px);
    pointer-events: none;
    font-weight: bold;
}

.alerta-customizado.mostrar {
    opacity: 1;
    transform: translateY(0);
}

.tamanho-select {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.tamanho-select label {
    font-size: 1.5rem;
    color: #333;
    font-weight: 600;
}

.tamanho-select select {
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    color: #575456;
}

#botao-escolher-endereco {
    padding: 2px 5px;
    color: #e0258b;
    border: none;
    background: none;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-left: 1rem;
    cursor: pointer;
}

#botao-escolher-endereco:hover {
    background-color: rgba(224, 37, 139, 0.2);
}

#botao-continuar-compra {
    background-color: #e0258b;
    color: #fff;
    font-size: 1.5rem;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#botao-continuar-compra:hover {
    background-color: #d0207a;
}

#botao-continuar-compra:disabled {
    background-color: #e0258b;
    cursor: default;
    opacity: 0.6;
}